<table class="table table-bordered">

  <h3><strong>Product Stats</strong></h3>
    <tbody>
      <th>
      <a href="/admin/products">Product Count:</a>
      </th>
      <th>  
        <%= @products_count %>
      </th>
      <th>
      <a href="/admin/categories">Category Count:<a>
      </th>
      <th>
        <%= @categories_count %>
      </th>
    </tbody>
</table>